examples/MotionDetector/motion_detector_flow.json
[
    {
        "id": "9b837477.57dac8",
        "type": "tab",
        "label": "Motion Detector Example",
        "disabled": false,
        "info": ""
    },
    {
        "id": "269fde59.27bf32",
        "type": "mqtt in",
        "z": "9b837477.57dac8",
        "name": "Motion State",
        "topic": "ExampleRpiMotion",
        "qos": "2",
        "broker": "4b13cec6.bca34",
        "x": 130,
        "y": 240,
        "wires": [
            [
                "52e8a367.17d2dc"
            ]
        ]
    },
    {
        "id": "1c001351.23544d",
        "type": "switch",
        "z": "9b837477.57dac8",
        "name": "IsMotionDetected",
        "property": "payload.readings[0].value",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "outputs": 2,
        "x": 570,
        "y": 360,
        "wires": [
            [
                "372a3cab.424974"
            ],
            [
                "774c6af2.d15594"
            ]
        ]
    },
    {
        "id": "e2cb87b0.c5e458",
        "type": "ui_chart",
        "z": "9b837477.57dac8",
        "name": "Motion Activity",
        "group": "9838c993.493de8",
        "order": 1,
        "width": "12",
        "height": "6",
        "label": "Motion Activity",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "step",
        "nodata": "",
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "x": 800,
        "y": 140,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "31609fc.b8ae76",
        "type": "ui_switch",
        "z": "9b837477.57dac8",
        "name": "Red LED",
        "label": "Red LED",
        "group": "9838c993.493de8",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 320,
        "y": 600,
        "wires": [
            [
                "5b54b415.f9180c"
            ]
        ]
    },
    {
        "id": "52e8a367.17d2dc",
        "type": "json",
        "z": "9b837477.57dac8",
        "name": "",
        "pretty": true,
        "x": 330,
        "y": 240,
        "wires": [
            [
                "1c001351.23544d",
                "a169436a.1270f"
            ]
        ]
    },
    {
        "id": "5b54b415.f9180c",
        "type": "switch",
        "z": "9b837477.57dac8",
        "name": "LED State",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "outputs": 2,
        "x": 530,
        "y": 640,
        "wires": [
            [
                "2918d654.c8b1ca"
            ],
            [
                "c14d5143.5133a"
            ]
        ]
    },
    {
        "id": "39420062.c2e5b",
        "type": "http request",
        "z": "9b837477.57dac8",
        "name": "Set Green LED",
        "method": "PUT",
        "ret": "txt",
        "url": "http://edgex-core-command:48082/api/v1/device/5c9e91a09f8fc20001c8570e/command/5c9e91a09f8fc20001c85709",
        "tls": "",
        "x": 1200,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "372a3cab.424974",
        "type": "function",
        "z": "9b837477.57dac8",
        "name": "LED On",
        "func": "var data = {}\ndata[\"Green_LED\"] = \"true\"\nmsg.payload = JSON.stringify (data);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 980,
        "y": 340,
        "wires": [
            [
                "39420062.c2e5b",
                "62fcce45.d2739"
            ]
        ]
    },
    {
        "id": "774c6af2.d15594",
        "type": "function",
        "z": "9b837477.57dac8",
        "name": "LED Off",
        "func": "var data = {}\ndata[\"Green_LED\"] = \"false\"\nmsg.payload = JSON.stringify (data);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 980,
        "y": 480,
        "wires": [
            [
                "39420062.c2e5b",
                "62fcce45.d2739"
            ]
        ]
    },
    {
        "id": "62fcce45.d2739",
        "type": "debug",
        "z": "9b837477.57dac8",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 1190,
        "y": 520,
        "wires": []
    },
    {
        "id": "a169436a.1270f",
        "type": "function",
        "z": "9b837477.57dac8",
        "name": "Motion Data",
        "func": "msg.payload = msg.payload.readings[0].value;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 550,
        "y": 160,
        "wires": [
            [
                "e2cb87b0.c5e458",
                "8aedc0c5.e57a2"
            ]
        ]
    },
    {
        "id": "c1ad6204.af703",
        "type": "http request",
        "z": "9b837477.57dac8",
        "name": "Set Red LED",
        "method": "PUT",
        "ret": "txt",
        "url": "http://edgex-core-command:48082/api/v1/device/5c9e91a09f8fc20001c8570e/command/5c9e91a09f8fc20001c8570a",
        "tls": "",
        "x": 990,
        "y": 760,
        "wires": [
            []
        ]
    },
    {
        "id": "c14d5143.5133a",
        "type": "function",
        "z": "9b837477.57dac8",
        "name": "LED Off",
        "func": "var data = {}\ndata[\"Red_LED\"] = \"false\"\nmsg.payload = JSON.stringify (data);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 760,
        "y": 800,
        "wires": [
            [
                "c1ad6204.af703"
            ]
        ]
    },
    {
        "id": "2918d654.c8b1ca",
        "type": "function",
        "z": "9b837477.57dac8",
        "name": "LED On",
        "func": "var data = {}\ndata[\"Red_LED\"] = \"true\"\nmsg.payload = JSON.stringify (data);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 780,
        "y": 680,
        "wires": [
            [
                "c1ad6204.af703"
            ]
        ]
    },
    {
        "id": "8aedc0c5.e57a2",
        "type": "debug",
        "z": "9b837477.57dac8",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "true",
        "x": 750,
        "y": 220,
        "wires": []
    },
    {
        "id": "8b3bba52.12be78",
        "type": "ui_button",
        "z": "9b837477.57dac8",
        "name": "ClearGraph",
        "group": "9838c993.493de8",
        "order": 2,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "Clear Graph",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "[]",
        "payloadType": "json",
        "topic": "",
        "x": 430,
        "y": 60,
        "wires": [
            [
                "e2cb87b0.c5e458"
            ]
        ]
    },
    {
        "id": "5c9f14bb.363eac",
        "type": "inject",
        "z": "9b837477.57dac8",
        "name": "",
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": true,
        "x": 110,
        "y": 580,
        "wires": [
            [
                "31609fc.b8ae76"
            ]
        ]
    },
    {
        "id": "4b13cec6.bca34",
        "type": "mqtt-broker",
        "z": "",
        "broker": "edgex_mqtt_broker",
        "port": "1883",
        "tls": "92803d3a.e24e8",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": ""
    },
    {
        "id": "9838c993.493de8",
        "type": "ui_group",
        "z": "",
        "name": "Motion Detector Example",
        "tab": "97829435.202208",
        "order": 1,
        "disp": true,
        "width": "12"
    },
    {
        "id": "92803d3a.e24e8",
        "type": "tls-config",
        "z": "",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "",
        "verifyservercert": true
    },
    {
        "id": "97829435.202208",
        "type": "ui_tab",
        "z": "",
        "name": "EdgeX Raspberry Pi Device",
        "icon": "dashboard",
        "order": 1
    }
]
