examples/Blink/blink_flow.json
[
    {
        "id": "c015ae9e.0c0f4",
        "type": "tab",
        "label": "EdgeX RPi Blink Example"
    },
    {
        "id": "1b8e6270.68f5ae",
        "type": "http request",
        "z": "c015ae9e.0c0f4",
        "name": "Set LED",
        "method": "PUT",
        "ret": "txt",
        "url": "http://edgex-core-command:48082/api/v1/device/name/RPiBlinkLed/command/Set_Led",
        "tls": "",
        "x": 1180,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "609114a1.cb640c",
        "type": "inject",
        "z": "c015ae9e.0c0f4",
        "name": "",
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 169,
        "y": 221,
        "wires": [
            [
                "f7ae0719.6aea78"
            ]
        ]
    },
    {
        "id": "f7ae0719.6aea78",
        "type": "ui_switch",
        "z": "c015ae9e.0c0f4",
        "name": "",
        "label": "LED Switch",
        "group": "2dd8d9a.215e326",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 447,
        "y": 322,
        "wires": [
            [
                "c1d868ae.0c88f8"
            ]
        ]
    },
    {
        "id": "c1d868ae.0c88f8",
        "type": "switch",
        "z": "c015ae9e.0c0f4",
        "name": "Enable LED",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "outputs": 2,
        "x": 716,
        "y": 378,
        "wires": [
            [
                "648b2aa6.963104"
            ],
            [
                "1667b567.52e3fb"
            ]
        ]
    },
    {
        "id": "648b2aa6.963104",
        "type": "function",
        "z": "c015ae9e.0c0f4",
        "name": "Turn on LED",
        "func": "var data = {}\ndata[\"LED\"] = \"true\"\nmsg.payload = JSON.stringify (data);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 946,
        "y": 358,
        "wires": [
            [
                "1b8e6270.68f5ae",
                "95f847ce.93caa8"
            ]
        ]
    },
    {
        "id": "1667b567.52e3fb",
        "type": "function",
        "z": "c015ae9e.0c0f4",
        "name": "Turn off LED",
        "func": "var data = {}\ndata[\"LED\"] = \"false\"\nmsg.payload = JSON.stringify (data);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 950,
        "y": 480,
        "wires": [
            [
                "1b8e6270.68f5ae",
                "95f847ce.93caa8"
            ]
        ]
    },
    {
        "id": "95f847ce.93caa8",
        "type": "debug",
        "z": "c015ae9e.0c0f4",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 1183,
        "y": 558,
        "wires": []
    },
    {
        "id": "2dd8d9a.215e326",
        "type": "ui_group",
        "z": "",
        "name": "RPi Blink Example",
        "tab": "7c6a217.7b196e",
        "disp": true,
        "width": "6"
    },
    {
        "id": "7c6a217.7b196e",
        "type": "ui_tab",
        "z": "",
        "name": "EdgeX Device RPi Examples",
        "icon": "dashboard"
    }
]